doctype html
script.
  var token = "39d0bbc94e6d6a46185436ae8e5112a9";  var token; //android if (navigator.userAgent.match(/Android/i)) { token = "39d0bbc94e6d6a46185436ae8e5112a9"; } //ios else if (navigator.userAgent.match(/iPhone/i) ||
  navigator.userAgent.match(/iPad/i)) { token = "39d0bbc94e6d6a46185436ae8e5112a9"; }  document.addEventListener("deviceready", function() { window.mixpanelanalytics.setUp(token); }, false);
// deleting grafana settings for now as its not a priority
