The following Transportation Request was created from a Delivery (API). It is looking for a carrier and available at Marketplace: <br /><br />
<div style='background: #B0E4F5; padding: 10px'>
<ul>
    <li><b>#{{ transRequest._id }}</b></li>
    <li><b>Buyer: </b>{{ delivery.buyer.name }}</li>
    <li><b>Phone: </b>{{ delivery.buyer.phone }}</li>
    <li><b>E-mail: </b>{{ delivery.buyer.email }}</li>
    <li><b>Price: </b>{{ transRequest.budget }} (DKK)</li>
    <li><b>Pickup Date: </b>{{ transRequest.pickupdate }}</li>
    <li><b>Pickup Location: </b>{{ transRequest.pickuplocreadable }}</li>
    <li><b>Destination Location: </b>{{ transRequest.destinationreadable }}</li>
    <li><b>Extra options: </b>{{ #delivery.options }} {{ . }} {{ /delivery.options }}</li>
    <li><b>Vehicle Type: </b>{{ vehicleType.description }}</li>
</ul>
</div>
